<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Page Title</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet"  type="text/css" href="../static/styles2.css">
    </head>
<body>
    <div id="google_translate_element" class="container"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<p>You can translate the content of this page by selecting a language in the select box.</p>

    <div class="container">
                    <h1>Welcome Farmer</h1>
                            <form class="ID" method="POST" action="" class="Product" >
                                Enter Your Unique ID
                                <input type="text" placeholder="ID" name="ID"  class="msg"/>
                                 <input type="submit" name="submit" value="Enter"></input>
                            </form>
                    <hr/>
    </body>
</html>